<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
    <div class="container-fluid">
        <div class="navbar-header" id="nav-header">
            <p class="navbar-text pull-left">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link" id="navbar-back">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <label> Widgets</label>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right" id="nav-plus">
            <li>
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </li>
        </ul>


    </div>
</nav>

<div class="container-fluid">
    <div ng-repeat="widget in model.widgets">

        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING" class="content">
                <ng-include src="'./views/widget/widgets/widget-heading.view.client.html'"></ng-include>
        </div>
            <div ng-switch-when="HTML" class="content">
                <ng-include src="'./views/widget/widgets/widget-html.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE" class="content">
                <ng-include src="'./views/widget/widgets/widget-image.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE" class="content">
                <ng-include src="'./views/widget/widgets/widget-youtube.view.client.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user text-blue"></span>
            </a>
        </p>
    </div>
</nav>