<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left margin-left-15">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <strong>Add Widgets</strong>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-switch="model.widgetType">
        <div ng-switch-when="HEADER">
            <ng-include src="'./views/widget/editors/widget-heading-editor.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'./views/widget/editors/widget-image-editor.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'./views/widget/editors/widget-youtube-editor.view.client.html'"></ng-include>
        </div>
    </div>
    <a ng-click="model.createWidget(model.widget)" class="btn btn-block btn-success">Create</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user text-blue"></span>
            </a>
        </p>
    </div>
</nav>