<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
    <div class="container-fluid">       
        <div class="navbar-header" id="nav-header">
            <p class="navbar-text pull-left">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link" id="navbar-back">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                    <label> Widgets</label>
            </a>       
        </div>
        <ul class="nav navbar-nav navbar-right" id="nav-plus">
            <li>
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </li>
        </ul>
        

    </div>
</nav>




        <div class="container-fluid" >
            <div ng-repeat="widget in model.widgets">
                <!--<div class="right-up">-->
                    <!--<button type="button" class="btn btn-default">-->
                        <!--<a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">-->
                            <!--<span class="glyphicon glyphicon-cog"></span>-->
                        <!--</a>-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-default">-->
                        <!--<span class="glyphicon glyphicon-align-justify"></span></a>-->
                    <!--</button>-->
                <!--</div>-->
            <div ng-switch="widget.widgetType">

                <div ng-switch-when="HEADING" class="content">
                    <div class="right-up">
                        <button type="button" class="btn btn-default btn-sm">
                            <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-align-justify"></span></a>
                        </button>
                    </div>
                    <ng-include src="'views/widget/templates/widget-heading.view.client.html'"></ng-include>
                </div>



                <div ng-switch-when="HTML" class="content">
                    <div class="right-up">
                        <button type="button" class="btn btn-default btn-sm">
                            <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-align-justify"></span></a>
                        </button>
                    </div>
                    <ng-include src="'views/widget/templates/widget-html.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="IMAGE" class="content">
                    <div class="right-up">
                        <button type="button" class="btn btn-default btn-sm">
                            <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-align-justify"></span></a>
                        </button>
                    </div>
                    <ng-include src="'views/widget/templates/widget-image.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="YOUTUBE" class="content">
                    <div class="right-up">
                        <button type="button" class="btn btn-default btn-sm">
                            <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-align-justify"></span></a>
                        </button>
                    </div>
                    <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></ng-include>
                </div>
                <!--<div class="content" ng-switch-when="YOUTUBE">-->
                    <!--<div class="right-up">-->
                        <!--<button type="button" class="btn btn-default btn-sm">-->
                            <!--<a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">-->
                                <!--<span class="glyphicon glyphicon-cog"></span>-->
                            <!--</a>-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-default btn-sm">-->
                            <!--<span class="glyphicon glyphicon-align-justify"></span></a>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<iframe ng-src="{{model.getYouTubeEmbedUrl(widget.url)}}" width="{{widget.width}}" height="{{widget.height}}"/>-->
                <!--</div>-->
            </div>
            </div>
        </div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right" id="nav-user">
            <li>
                <a ng-href="#user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>