<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
    <div class="container-fluid">
        <div class="navbar-header" id="nav-header">
            <p class="navbar-text pull-left">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link" id="navbar-back">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <label> Widgets</label>
            </a>
        </div>


    </div>
</nav>



    <div class="container-fluid">
        <dl>
            <dt>
                <div>
                    <a href="widget-heading.html">Header</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="widget-image.html">Image</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="widget-youtube.html">Youtube</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="#">Label</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="#">Html</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="#">Text Input</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="#">Link</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="#">Button</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="#">Data Table</a>
                </div>
            </dt>
            <dt>
                <div>
                    <a href="#">Repeater</a>
                </div>
            </dt>
        </dl>
        <div ng-switch="model.widget.widgetType">
            <div ng-switch-when="HEADING">
                <ng-include src="'views/widget/templates/editors/widget-heading-editor.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/editors/widget-image-editor.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/editors/widget-youtube-editor.view.client.html'"></ng-include>
            </div>
        </div>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right" id="nav-user">
            <li>
                <a ng-href="#user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>