input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

@media(max-width: 767px){
	#nav-header{
		position: absolute;
		left: 36px;
	}
	#nav-ok{
		position: absolute;
		right: 36px;
	}
	#nav-user{
		position: absolute;
		right: 36px;
	}
}
.navbar-default{
	background-color: #337ab7;
}


.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav .navbar-link{
	color: white;
}