input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

@media(max-width: 767px){
	#nav-header{
		position: absolute;
		left: 24px;
	}
	#nav-ok{
		position: absolute;
		right: 24px;
	}
	#nav-user{
		position: absolute;
		right: 24px;
	}
	#nav-plus{
		position: absolute;
		right: 24px;
	}
	#pc-display{
		display: none;
	}
}

@media(min-width: 768px){
	#phone-display{
		display: none
	}
}

.navbar-default{
	background-color: #337ab7;
}

#navbar-back{
	color: white;
}
.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav .navbar-link{
	color: white;
}