input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar-default{
	background-color: #337ab7;
}


.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav .navbar-link{
	color: white;
}