<form role="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="Changetitle">Text</label>
        <input type="text" class="form-control" id="Changetitle">
    </div>
    <div class="form-group">
        <label for="Changeurl">URL</label>
        <input ng-model="model.widget.url" type="text" class="form-control" id="Changeurl">
    </div>
    <div class="form-group">
        <label for="Changewidth">Width</label>
        <input ng-model="model.widget.width" type="text" class="form-control" id="Changewidth">
    </div>
</form>
