<div class="container">
    <h1>Login</h1>
    <label for="username">Username</label>
    <input type="text"
           class="form-control"
           placeholder="username"
           id="username" />
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           placeholder="password"
           id="password" />
    
    <a class="btn btn-primary btn-block"
       href="profile.html">Login</a>
    <a class="btn btn-success btn-block"
       href="register.html">Register</a>
</div>