<nav class="navbar navbar-default navbar-fixed-top navbar-blue" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" id="nav-header">
            <a class="navbar-brand" id="white">
                Profile
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right white" id="nav-ok">
            <li>
                <a class="navbar-link" ng-click="model.updateProfile(model.user)">
                    <span class="glyphicon glyphicon-ok white"></span>
                </a>
            </li>
        </ul>
        

    </div>
</nav>

    
    <div class="container-fluid">

        <form role="form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" ng-model="model.user.username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ng-model="model.user.email">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" ng-model="model.user.firstName">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" ng-model="model.user.lastName">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           ng-herf="#/user/{{model.user._id}}/website">Websites</a>
        <a class="btn btn-danger  btn-block"
           href="#/login">Logout</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-blue">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right" id="nav-user">
            <li>
                <a ng-href="#/user/{{model.user._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user white"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
