<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
    <div class="container-fluid">
        <div class="navbar-header" id="nav-header">
            <p class="navbar-text pull-left">
                <a ng-href="#user/{{model.userId}}/website" class="navbar-link" id="navbar-back">
                <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                    <label> Pages</label>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right" id="nav-plus">
            <li>
                <a ng-href="#user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </li>
        </ul>


    </div>
</nav>



    <div class="container-fluid">
        <dl>
            <dt ng-repeat="page in model.pages">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                <a class="pull-right" ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </dt>
        </dl>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right" id="nav-user">
            <li>
                <a ng-href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
