<div class="right-up">
    <button type="button" class="btn btn-default btn-xs">
        <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </button>
    <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-align-justify"></span></a>
    </button>
</div>
<img ng-src="{{widget.url}}" width="{{widget.width}}"/>

<input  name="myFile"   type="file" class="form-control"/>
<input  name="width"    value="{{model.widget.width}}" style="display: none"/>
<input  name="widgetId" value="{{model.widgetId}}"   style="display: none"/>
<input  name="userId" value="{{model.userId}}"   style="display: none"/>
<input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
<input  name="website" value="{{model.websiteId}}"   style="display: none"/>
<button type="submit"   class="btn btn-block btn-primary">Upload Image</button>