<div class="container-fluid wbdv-sortable">
    <div ng-repeat="widget in model.widgets | orderBy:'index'" >

        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING" class="content">
                <ng-include src="'./views/widget/widgets/widget-heading.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="HTML" class="content">
                <ng-include src="'./views/widget/widgets/widget-html.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE" class="content">
                <ng-include src="'./views/widget/widgets/widget-image.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE" class="content">
                <div class="youtube-widget">
                    <ng-include src="'./views/widget/widgets/widget-youtube.view.client.html'"></ng-include>
                </div>
                <div class="right-up">
                    <button type="button" class="btn btn-default btn-xs">
                        <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </button>
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-align-justify"></span></a>
                    </button>
                </div>
            </div>
            <div ng-switch-when="TEXT" class="content">
                <ng-include src="'./views/widget/widgets/widget-text.view.client.html'"></ng-include>
            </div>
        </div>
    </div>
</div>