<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
    <div class="container-fluid">
        <div class="navbar-header" id="nav-header">
            <p class="navbar-text pull-left">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link" id="navbar-back">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                <label> Widgets</label>
            </a>
        </div>


    </div>
</nav>

<div class="container-fluid">
    <dl>
        <dt>
        <div>
            <a ng-click="model.createWidget('HEADING')">Heading</a>
        </div>
        </dt>
        <dt>
        <div>
            <a ng-click="model.createWidget('IMAGE')">Image</a>
        </div>
        </dt>
        <dt>
        <div>
            <a ng-click="model.createWidget('YOUTUBE')">YouTube</a>
        </div>
        </dt>
        <dt>
        <div>
            <a ng-click="model.createWidget('TEXT')">Text</a>
        </div>
        </dt>
        <dt>
        <div>
            <a href="">Label</a>
        </div>
        </dt>
        <dt>
        <div>
            <a href="">Html</a>
        </div>
        </dt>
        <dt>
        <div>
            <a href="">Link</a>
        </div>
        </dt>
        <dt>
        <div>
            <a href="">Button</a>
        </div>
        </dt>
        <dt>
        <div>
            <a href="">Data Table</a>
        </div>
        </dt>
        <dt>
        <div>
            <a href="">Repeater</a>
        </div>
        </dt>
    </dl>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user text-blue"></span>
            </a>
        </p>
    </div>
</nav>