<form class="form">
    <div class="form-group">
        <label>Text</label>
        <input ng-model="model.widget.text"
               class="form-control"
               placeholder="Input Text"/>
    </div>
    <div class="form-group">
        <label>Rows</label>
        <input ng-model="model.widget.rows"
               type="number"
               class="form-control"
               placeholder="Input Rows: larger than 1 will be textarea"/>
    </div>
    <div class="form-group">
        <label>Placeholder</label>
        <input ng-model="model.widget.placeholder"
               class="form-control"
               placeholder="Input Placeholder"/>
    </div>
    <div class="form-group">
        <label>Formatted</label>
        <input ng-model="model.widget.formatted"
               type="checkbox"
               class="form-control"/>
    </div>

</form>