<form class="form">
    <div class="form-group">
        <label>Text</label>
        <input ng-model="model.widget.text"
               class="form-control"
               placeholder="Text"/>
    </div>
    <div class="form-group">
        <label>Rows</label>
        <input ng-model="model.widget.rows"
               type="number"
               class="form-control"
               placeholder="Rows"/>
    </div>
    <div class="form-group">
        <label>Placeholder</label>
        <input ng-model="model.widget.placeholder"
               class="form-control"
               placeholder="Placeholder"/>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <label class="control-label" for="formatted">Formatted </label>
        </div>
            <div class="col-xs-1">
                <input ng-model="model.widget.formatted" type="checkbox" />
            </div>

    </div>

</form>