<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container-fluid">       
                        <div class="navbar-header" id="nav-header">
                            <p class="navbar-text pull-left">
                                <a ng-href="#user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link" id="navbar-back">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                            </p>
                            <a class="navbar-brand">
                                    <label> New Page</label>
                            </a>       
                        </div>
                        <ul class="nav navbar-nav navbar-right" id="nav-plus">
                            <li>
                                <a ng-click="model.createPage(model.page)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </li>
                        </ul>

    </div>
</nav>

    <div class="container-fluid">
     
                    <div class="container-fluid">
                        <form role="form">
                            <div class="form-group">
                                <label for="pagename">Name</label>
                                <input type="text" class="form-control" id="pagename" placeholder="Page Name" ng-model="model.page.name">
                            </div>
                            <div class="form-group">
                                <label for="pagetitle">Title</label>
                                <input type="text" class="form-control" id="pagetitle" placeholder="Page Title" ng-model="model.pgae.title">
                            </div>
                        </form>
                    </div>


    </div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right" id="nav-user">
            <li>
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>