<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text" type="text" class="form-control" id="text">
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <select ng-model="model.widget.size" class="form-control" name="size" id="size">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
</form>